node_modules/
tests/node_modules/
dist/

# Environment variables
.env
.env.local
.env.*.local

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Build and debug files
build/
coverage/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json  

# Wasm build output
wasm/target/
target/

*.tgz